! -*- ospf -*-
!
! OSPFd sample configuration file
!
!
hostname ospfd
password zebra
!enable password please-set-at-here
!
!router ospf
!  network 192.168.1.0/24 area 0
!
log stdout
log file /var/log/quagga/ospfd.log

interface eth1
ip ospf mtu-ignore
ip ospf network point-to-point
!ip ospf cost
ip ospf hello-interval 5
ip ospf dead-interval 10

router ospf
network 172.30.0.0/30 area 1
neighbor 172.30.0.1

default-information originate always
